[submodule "Falco/vendor/spdlog"]
	path = Falco/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Falco/vendor/GLFW"]
	path = Falco/vendor/GLFW
	url = https://github.com/alicatgames/glfw.git

[submodule "Falco/vendor/imgui"]
	path = Falco/vendor/imgui
	url = https://github.com/alicatgames/imgui
